/* body {
    margin: 10px;
} */

img {
    width: 250px;
    height: 200px;
    margin: 12px;
}

button {
    margin: 5px;
    min-width: 120px;
}

#imagesArea {
    text-align: center;
}

.wrapper{
    max-width: 99%;
}

#add{
    margin-top: 25px;
}

#second {
    background-color: rgba(132, 148, 241, 0.247);
}

#third {
    background-color: rgba(132, 148, 241, 0.247);
}

#fi {
    height: -webkit-fill-available;
}